#art_title, #descript {
  padding: 10px;
  border: 1px solid #fafafa;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#art_title {
  font-size: 1.8em;
  color: #333;
  text-align: center;
}

#descript {
  line-height: 1.6;
  color: #555; 
}

#data-container {
  margin-bottom: 10px;
}

#img {
  max-width: 100%;
  height: auto;
 }

#form-section {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
}
#form-section button {
  margin-right: 12px;
  margin-bottom: 8px;
}
#search-term {
  width: 25%;
  border: 1px solid #fafafa;
  
}